<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New</button>
    </form> -->
    <ul>
        <%for(let list of result){%>
            <li><a href="http://localhost:3000/listings/<%=list._id%>"><%=list.title%></a></li>

        <%}%>
        </ul>
</body>

