<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
</head>
<body>
    <h3>Create a new list</h3>
    <form action="/listings" method="post">
        <input type="text" placeholder="Enter title" name="listings[title]"><br><br>
        <textarea name="listings[description]" placeholder="Enter description"></textarea><br><br>
        <input type="text" name="listings[image]" placeholder="Enter image url/link"><br><br>
        <input type="number" name="listings[price]" placeholder="Enter price"><br><br>
        <input type="text" name="listings[location]" placeholder="Enter location"><br><br>
        <input type="text" name="listings[country]" placeholder="Enter country"><br><br>
        <button>Add</button>

    </form>
</body>
</html>